{% extends 'base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div>
            <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Banca Pendente</h3>
                        </div>
                        <div>
                        <div class="panel-body">
                            <div >
                                  <table id="banca" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Co-orientador</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Co-orientador</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                        <tbody>
                                        {% for trabalho in trabalhos %}
                                            <tr>
                                            <td>{{ trabalho.titulo }}</td>
                                            <td>{{ trabalho.autor }}</td>
                                            <td>{{ trabalho.orientador }}</td>
                                            <td>{{ trabalho.co_orientador }}</td>
                                            <td>
                                                <a href="{% url 'trabalhos:detalhe' trabalho.id %}"><i class="material-icons" style="color:black;">visibility</i></a>
                                                {% if user.id == trabalho.orientador.id %}
                                                    <a href="{% url 'trabalhos:editar' trabalho.id %}"><i class="material-icons" style="color:black;">create</i></a>
                                                    <a href="#"><i class="material-icons" style="color:black;">clear</i></a>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        </tr>
                                        </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Agendamento Pendente</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="agenda" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>Ricardo Rios, Ivan Machado, Tatiane Rios</td>
                                        </tr>
                                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Defesas Confirmadas</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="confirmadas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                            <th>Data/Hora</th>
                                            <th>Local</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                            <th>Data/Hora</th>
                                            <th>Local</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>Ricardo Rios, Ivan Machado, Tatiane Rios</td>
                                            <td>30/01/18 as 14:00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
{% endblock %}