{% extends 'core/base.html' %}

{% load material_form %}
{% block content %}

<div id="page-wrapper">
        <div class="col-md-6">
                <form method="post">
                    <fieldset>
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button class="btn btn-primary" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <button class="btn btn-danger"><a href="{% url 'core:home' %}">Cancelar</a></button>
                    </fieldset>
                </form>
        </div>
</div>
{% endblock %}