{% extends 'core/base.html' %}

{% load material_form %}
{% block content %}

<div id="page-wrapper">
    <h3 class="titulo-box">Cadastro de Usuário</h3>
        <div class="col s12 m2 z-depth-2">
            <div class="container">
                    <form method="post">
                            {% csrf_token %}
                            {% form form=form %}{% endform %}
                            <div class="bt-box">
                                <button class="btn green btn-success" name="action">Salvar</button>
                                <button class="btn blue btn-primary">
                                    <a class="voltar" href="{% url 'core:home' %}">Voltar</a>
                                </button>
                            </div>
                    </form>
            </div>
</div>
{% endblock %}