
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Defesas Ufba</title>
        {% include 'material/includes/material_css.html' %}

       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'core/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/local.css' %}" />



        <script type="text/javascript" src="{% static 'core/js/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/local.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="{% static 'material/js/jquery.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>


    </head>
    <body>
        <div>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Login</h3>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <form class="form-signin" method="post">
                                        <div class="row">
                                            <div>
                                                {% csrf_token %}
                                                {{ form.errors}}
                                                {{ form.as_p }}
                                            </div>    
                                        </div>
                                        <div class="row">            
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                        </div>    
                                    </form>
                                </fieldset>
                            </div>
                        </div>        
                    </div>
                </div>            
            </div>
        </div>
    </body>
</html>
