{% csrf_token %}
	<div id="page-wrapper">
        <div class="row">
            <div class="col-md-6">
                {% if success %}
                    <h2> Senha criada com sucesso</h2>
                {% else %}    
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <ul class="errolist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}    
                    <button type="submit" class="btn green btn-success">Salvar</button>
                    <button class="btn blue btn-primary"><a class="voltar" href="{% url 'core:home' %}">Voltar</a></button>
                </form>
                {% endif %}
            </div>

        <div class="col-md-2"></div>