
<html>
<body>
	   <div id="content">
        <div class="row">
            <div class="col-md-4">
                <img src="">
            </div>
            <div class="col-md-8">
                <h1  align="center">
                    MINIST&EacuteRIO DA EDUCA&Ccedil&AtildeO
                <br>
                    UNIVERSIDADE FEDERAL DA BAHIA
                <br>
                    INSTITUTO DE MATEM&AacuteTICA E ESTAT&IacuteSTICA
                </h1>
                <h3 align="center">
                    Av. Ademar de Barros s/n - Campus Universit&aacuterio de Ondina - Salvador Bahia
                    <br>
                    CEP 40170-101 Tel: (071) 3283-6340/6341/6337  Fax: 3283-6336
                </h3>
            </div>
        </div>
    </div>
	<script type="text/javascript">
		<!--

			/* escreva seu código aqui.*/

		//-->
	</script>

</body>
</html>