{% extends 'core/base.html' %}
{% load material_form %}

{% block content %}
<div id="page-wrapper">
    <h3 class="titulo-box">Cadastrar Defesa</h3>
    <div class="col s12 m2 z-depth-2">
        <div class="container">
            <form method="post">
                {% csrf_token %}

                <div class="fomr-group">
                    {% form form=form_defesa %}{% endform %}
                </div>
                <div class="form-group">
                    {% form form=form %}{% endform %}
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="tags" id="tags" class="" />
                        <label class="active" for="tags">Emails não Cadastrados</label>
                    </div>
                </div>
                <div class="bt-box">
                    <button type="submit" class="btn green btn-success">Salvar</button>
                     <a class="waves-effect waves-light blue btn" href"{% url 'core:home' %}">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
