{% extends 'core/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div>
            <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Banca Pendente</h3>
                        </div>
                        <div>
                        <div class="panel-body">
                            <div >
                                  <table id="banca" class="highlight responsive-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Co-orientador</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <!--<tfoot>-->
                                        <!--<tr>-->
                                            <!--<th>Título</th>-->
                                            <!--<th>Autor</th>-->
                                            <!--<th>Orientador</th>-->
                                            <!--<th>Co-orientador</th>-->
                                            <!--&lt;!&ndash;<th>Ações</th>&ndash;&gt;-->
                                        <!--</tr>-->
                                    <!--</tfoot>-->
                                        <tbody>
                                        {% for trabalho in trabalhos %}
                                            <tr>
                                            <td>{{ trabalho.titulo }}</td>
                                            <td>{{ trabalho.autor }}</td>
                                            <td>{{ trabalho.orientador }}</td>
                                            <td>{{ trabalho.co_orientador }}</td>
                                            <td>
                                                <a href="{% url 'trabalhos:detalhe' trabalho.id %}">
                                                    <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="visualizar trabalho"
                                                       style="color:black;">visibility</i>
                                                </a>
                                                {% if user.id != trabalho.orientador.id %}
                                                    <a href="{% url 'mensagem:email_participacao_banca' trabalho.id %}"
                                                       data-messages="Sua solicitação para compor a banca avaliadora foi
                                                                      enviada com sucesso"
                                                       class="email-participacao-banca">
                                                        <img class="circle cyan lighten-2 tooltipped"
                                                             data-position="top"
                                                             data-tooltip="candidata-se a banca"
                                                             id="enviar-email-banca"
                                                             src="../static/images/icon red.png">
                                                    </a>
                                                {% endif %}
                                                {% if user.id == trabalho.orientador.id %}
                                                    <a href="{% url 'trabalhos:editar' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="editar trabalho"
                                                           style="color:black;">create</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:banca_trabalho' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="convidar banca avaliadora" >
                                                            people</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:cadastrar_agendamento_defesa' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="agendar defesa" >
                                                            event_note</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:deletar' trabalho.id %}"
                                                       data-messages="trabalho deletado com sucesso"
                                                       class=" delete-trabalho">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="excluir trabalho"
                                                           style="color:black;">delete</i>
                                                    </a>
                                                    {% if trabalho.pdf_trabalho.url %}
                                                        <a href="{{ trabalho.pdf_trabalho.url }}" target="_blank">
                                                            <i class="material-icons">picture_as_pdf</i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        </tr>
                                        </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Agendamento Pendente</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="agenda" class="table table-striped table-bordered responsive-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Local</th>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Trabalho</th>
                                            <th>Banca</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Local</th>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Trabalho</th>
                                            <th>Banca</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for defesa in defesas %}
                                            <tr>
                                                <td>{{ defesa.local }}</td>
                                                <td>{{ defesa.data }}</td>
                                                <td>{{ defesa.hora }}</td>
                                                <td>{{ defesa.trabalho }}</td>
                                                <td>
                                                    {{ defesa.banca.avaliador0 }},
                                                    {{ defesa.banca.avaliador1 }},
                                                    {{ defesa.banca.avaliador2 }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Defesas Confirmadas</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="confirmadas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                            <th>Data/Hora</th>
                                            <th>Local</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Banca</th>
                                            <th>Data/Hora</th>
                                            <th>Local</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>Ricardo Rios, Ivan Machado, Tatiane Rios</td>
                                            <td>30/01/18 as 14:00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
{% endblock %}