{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div id="page-wrapper">
        <div>
            <div class="col-md-12">
                    <div class="col s12 m2 z-depth-3 grid">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Banca Pendente</h3>
                        </div>
                        <div>
                        <div class="panel-body">
                            <div >
                                  <table id="banca" class="highlight responsive-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Co-orientador</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <!--<tfoot>-->
                                        <!--<tr>-->
                                            <!--<th>Título</th>-->
                                            <!--<th>Autor</th>-->
                                            <!--<th>Orientador</th>-->
                                            <!--<th>Co-orientador</th>-->
                                            <!--&lt;!&ndash;<th>Ações</th>&ndash;&gt;-->
                                        <!--</tr>-->
                                    <!--</tfoot>-->
                                        <tbody>
                                        {% for trabalho in trabalhos %}
                                            <tr>
                                            <td>{{ trabalho.titulo }}</td>
                                            <td>{{ trabalho.autor }}</td>
                                            <td>{{ trabalho.orientador }}</td>
                                            <td>{{ trabalho.co_orientador }}</td>
                                            <td>
                                                <a href="{% url 'trabalhos:detalhe' trabalho.id %}">
                                                    <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="visualizar trabalho"
                                                       >visibility</i>
                                                </a>
                                                {% if user.id != trabalho.orientador.id %}
                                                    <a href="{% url 'mensagem:email_participacao_banca' trabalho.id %}"
                                                       data-messages="Sua solicitação para compor a banca avaliadora foi
                                                                      enviada com sucesso"
                                                       class="email-participacao-banca">
                                                        <img class="circle cyan lighten-2 tooltipped"
                                                             data-position="top"
                                                             data-tooltip="candidata-se a banca"
                                                             id="enviar-email-banca"
                                                             src="{% static 'core/images/icon-red.png' %}">
                                                    </a>
                                                {% endif %}
                                                {% if user.id == trabalho.orientador.id %}
                                                    <a href="{% url 'trabalhos:editar' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="editar trabalho"
                                                           >create</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:deletar' trabalho.id %}"
                                                       data-messages="trabalho deletado com sucesso"
                                                       class=" delete-trabalho">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:banca_trabalho' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="convidar banca avaliadora" >
                                                            people</i>
                                                    </a>
                                                    <a href="{% url 'trabalhos:cadastrar_agendamento_defesa' trabalho.id %}">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="agendar defesa" >
                                                            event_note</i>
                                                    </a>
                                                {% endif %}
                                                {% if trabalho.pdf_trabalho %}
                                                    <a href="{{ trabalho.pdf_trabalho.url }}" target="_blank">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="trabalho completo">picture_as_pdf</i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        </tr>
                                        </tbody>
                                </table>  
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col s12 m2 z-depth-3 grid grid-2">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Agendamento Pendente</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="agenda" class="table table-striped table-bordered responsive-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Local</th>
                                            <th>Data</th>
                                            <th>Hora</th>
                                            <th>Trabalho</th>
                                            <th>Banca</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for defesa in defesas %}
                                            {% if defesa.status != 'agendado' %}
                                            <tr>
                                                <td>{{ defesa.local }}</td>
                                                <td>{{ defesa.data }}</td>
                                                <td>{{ defesa.hora }}</td>
                                                <td>{{ defesa.trabalho.titulo }}</td>
                                                <td>
                                                    {% for banca in defesa.banca %}
                                                        <li>{{ banca }}</li>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if user.id == defesa.trabalho.orientador.id %}
                                                        <a href="{% url 'trabalhos:cadastrar_agendamento_defesa' defesa.trabalho.id %}">
                                                            <i class="material-icons tooltipped"
                                                               data-position="top"
                                                               data-tooltip="editar agendamento"
                                                            >create</i>
                                                        </a>

                                                        <a href="{% url 'trabalhos:deletar_agendamento' defesa.id %}"
                                                           data-messages="trabalho deletado com sucesso"
                                                           class="delete-agendamento">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    {% endif %}
                                                    {% if defesa.trabalho.pdf_trabalho %}
                                                        <a href="{{ defesa.trabalho.pdf_trabalho.url }}" target="_blank">
                                                            <i class="material-icons tooltipped"
                                                               data-position="top"
                                                               data-tooltip="trabalho completo">picture_as_pdf</i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m2 z-depth-3 grid grid-2">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Defesas Confirmadas</h3>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="confirmadas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Autor</th>
                                            <th>Orientador</th>
                                            <th>Data/Hora</th>
                                            <th>Local</th>
                                            <th>Banca</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for defesa in defesas %}
                                        {% if defesa.status == 'agendado' %}
                                        <tr>
                                            <td>{{ defesa.trabalho.titulo }}</td>
                                            <td>{{ defesa.trabalho.autor }}</td>
                                            <td>{{ defesa.trabalho.orientador }}</td>
                                            <td>{{ defesa.data }}</td>
                                            <td>{{ defesa.local }}</td>
                                            <td>
                                                {% for banca in defesa.banca %}
                                                        <li>{{ banca }}</li>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                 {% if defesa.trabalho.pdf_trabalho %}
                                                    <a href="{{ defesa.trabalho.pdf_trabalho.url }}" target="_blank">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="trabalho completo">picture_as_pdf</i>
                                                    </a>
                                                {% endif %}
                                                {% if user.id == defesa.trabalho.orientador.id %}
                                                    <a href="{% url 'accounts:certificado_orientador' defesa.trabalho.id %}" target="_blank">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="certificado de orientador"
                                                           >insert_drive_file</i>
                                                    </a>
                                                {% else %}
                                                    {% for banca in defesa.banca %}
                                                    {% if banca == user.name %}
                                                    <a href="{% url 'accounts:certificado_avaliador' defesa.trabalho.id user.id %}" target="_blank">
                                                        <i class="material-icons tooltipped"
                                                           data-position="top"
                                                           data-tooltip="certificado de avaliador">insert_drive_file</i>
                                                    </a>
                                                    {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
{% endblock %}
