{% load staticfiles %}

<!-- Sidebar -->
<div class=" mdl-layout__drawer mdl-color--gray-100">
    <header class="demo-drawer-header light-blue">
        <img src="{% static 'core/images/usuario-login.png' %}" class="center circle" id="foto-perfil-sidebar">
        <div class="white-text center">
            <span>{{ user.name }}</span>
        </div>
    </header>
    <nav class="demo-navigation indent mdl-color--grey-100 mdl-color-text--grey-600">
        {% if user.perfil.descricao == 'Coordenador' %}
            {% include 'core/sidebar_menu_coordenador.html' %}
        {% endif %}
        {% if user.perfil.descricao == 'Professor'%}
            {% include 'core/sidebar_menu_professor.html' %}
        {% endif %}
        <a class="mdl-navigation__link mdl-color-text--blue-grey" href="{% url 'accounts:editar' user.id %}">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation"></i>Editar Perfil</a>
        <a class="mdl-navigation__link mdl-color-text--blue-grey" href="{% url 'accounts:editar_senha' %}">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation"></i> Alterar Senha</a>
        <a class="mdl-navigation__link mdl-color-text--blue-grey" href="{% url 'accounts:logout' %}">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation"></i>Sair
        </a>
    </nav>
</div>
<!-- /#sidebar-wrapper -->