{% extends 'core/base.html' %}

{% load material_form %}
{% block content %}

<div id="page-wrapper">
    <h3 class="titulo-box">Convidar Banca</h3>
    <div class="col s12 m12 z-depth-2">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <div class="row">
                    <div class="input-field col s12">
                        <input name="tags" id="tags" class="" />
                        <label class="active" for="tags">Emails não Cadastrados</label>
                    </div>
                </div>
                <div class="bt-box">
                    <button type="submit" class="btn green btn-success">Convidar</button>
                    <button class="btn blue btn-primary">
                        <a class="voltar" href="{% url 'core:home' %}">Voltar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}